Language: Cpp
BasedOnStyle: Google

# To match GitHub unified diff review view
ColumnLimit: 80

# Default indentation
IndentWidth: 4

# When splitting a line, make it obvious that it's not another indented statement
ContinuationIndentWidth: 4

IncludeBlocks: Regroup
